.docs-col--1 {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-col--2 {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-col--3 {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-col--4 {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-col--5 {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-col--6 {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-col--7 {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-col--8 {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-col--9 {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-col--10 {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-col--11 {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-col--12 {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-layout-grid-first {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-layout-grid-second {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-layout-grid-third {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-layout-grid-fourth {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.docs-col--full {
    background: lightsteelblue;
    height: 50px;
    border: solid 1px grey;
    margin-top: 30px;
}

.col-content {
    text-align: center;
}